
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: -1;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки (общее) */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  border-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

/* Кнопки коричневые */
.button-search,
.button-detail {
  background-color: #756257;
}

/* Маленькие кнопки */
/* "Хочу сюда", сортировка гостиниц, каталог */
.button-search-small,
.button-detail,
.button-favourites {
  font-size: 16px;
}

/* Навигация (хедер) */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.logo-navigation {
  position: absolute;
  line-height: 0%;
}

/* Левое меню */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  margin-left: 186px;
  padding: 0;
  list-style-type: none;
}

/* Правое меню */
.navigation-purchase {
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
}

/* Ссылка пункта меню */
.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* Ссылка пункта правого меню (иконки) */
.navigation-purchase .navigation-link {
  margin: 0;
  padding: 0;
  min-width: 42px;
  min-height: 66px;
  background-color: #f1f1f1;
}

/* Кнопка "Хочу сюда!" */
.button-search-small {
  display: block;
  padding: 6px 35px 5px;
  margin-top: 14px;
}

/* Мэйн обеих страниц */
.main-index,
.main-inner {
  color: inherit;
  background-color: #ffffff;
}

/* Контейнер основного контента */
.page-container {
  width: 1200px;
  margin: 0 auto;
  }

/* Главный хедер */
.page-header {
  color: #000000;
  background-color: #ffffff;
}

/* Основной контент */
/* Для sticky-footer */
.main-container {
  flex-grow: 1;
}

/* Текст на страницах */
/* НЕ преимущества. НЕ карточки */
.section-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/* Фоновая картинка Welcome */
.welcome-background {
  width: 1200px;
  height: 485px;
  margin-bottom: 63px;
  background-color: #333333;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Дивайдер */
.welcome-divider {
  width: 1200px;
  height: 434px;
  padding-top: 52px;
  background-image: url("../images/divider.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Картинка Welcome... */
.welcome-picture {
  display: block;
  margin: 0 auto;
}

/* Заголовки секций (Н2) */
.section-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* Заголовок секции Преимуществ */
.advantages-section-title {
  margin-bottom: 31px;
}

/* Секция преимуществ вступление */
.advantages-intro {
  margin-bottom: 80px;
}

/* Список преимуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Пункт преимуществ */
.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

/* Контейнер первого пункта */
.advantages-item-container {
  display: flex;
}

/* Подсписок */
.advices-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Преимущества контейнер с текстом */
.advantages-item-text,
.advices-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
  box-sizing: border-box;
}

/* Преимущества тёмный фон */
.item-background-dark {
  color: #ffffff;
  background-color: #83B3D3;
}

/* Преимущества самый светлый фон */
.item-background-light12 {
  color: #333333;
  background-color: rgba(131,179,211,0.12);
}

/* Преимущества светлый фон */
.item-background-light20 {
  color: #333333;
  background-color: rgba(131,179,211,0.2);
}

/* Преимущества и Советы заголовок */
.item-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Преимущества заголовок */
.advantages-item-text .item-title {
  margin-top: 97px;
  margin-bottom: 30px;
}

/* Преимущества чёрный заголовок */
.advantages-item-title,
.advices-item-title {
  color: #000000;
}

/* Советы заголовок */
.advices-item-title {
  margin-bottom: 20px;
}

/* Преимущества номер */
.advantages-number {
  margin-bottom: 30px;
}

/* Преимущества описание (текст) */
.advantages-description,
.advices-description {
  margin: 0;
  padding: 0;
  width: 250px;
  text-align: center;
}

/* Преимущества тёмный фон описание (текст) */
.item-background-dark .advantages-description {
  width: 220px;
}

/* Секция "Заинтересовались?" */
.interested {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Секция "Заинтересовались?" заголовок */
.interested-section-title {
  margin-top: 90px;
  margin-bottom: 30px;
}

/* Секция "Заинтересовались?" описание (текст) */
.interested-description {
  width: 720px;
  line-height: 26px;
  margin-bottom: 56px;
}

/* Кнопка "Поиск гостиницы в Седоне" */
.button-search-big {
  width: 575px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 93px;
}

/* Хедер каталога */
.inner-header {
  height: 408px;
  margin-bottom: 44px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 31px;
}

/* Контейнер контента каталога */
.inner-header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
}

/* Н1 страницы каталога */
.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

/* Хлебные крошки. Список */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

/* Хлебные крошки. Ссылка */
.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

/* Хлебные крошки. Спрятанный спан */
.breadcrumbs-link-hidden {
  margin: 0;
  margin-right: 26px;
  padding: 0;
  min-width: 12px;
  min-height: 21px;
  background-color: #f1f1f1;
}

/* Общая форма фильтра */
.catalog-filter {
  display: flex;
}

/* Группа списка фильтра */
.catalog-filter-group {
  margin: 0;
  padding: 0;
  width: 150px;
}

/* Фильтр инфраструктуры */
.catalog-filter-group-infrastructure {
  margin-right: 67px;
}

/* Фильтр типа жилья */
.catalog-filter-group-type {
  margin-right: auto;
}

/* Название подраздела каталога */
.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

/* Список фильтра */
.catalog-filter-list {
  margin: 0;
  padding: 0;
}

/* Применить и Сбросить */
.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

/* Кнопка фильтра "Применить" */
.catalog-filter-buttons .button {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

/* Кнопка сброса в сортировке */
.button-reset {
  color: #ffffff;
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  text-align: center;
  width: 160px;
  height: 23px;
}

/* Секция с карточками каталога */
.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
}

/* Подпись над каталогом + кнопки отображения */
.hotels-found-container {
  display: flex;
  min-height: 48px;
  align-items: center;
  margin-bottom: 53px;
}

/* Найдено гостиниц: 38 */
.hotels-found {
  margin: 0;
  margin-right: 191px;
  padding: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Селекты страницы каталога */
.select-control {
  width: 287px;
  height: 48px;
  margin-right: 81px;
}

/* Контейнер кнопок отображения */
.button-view-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 48px;
}

/* Кнопки отображения */
.button-view {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-color: #e5e5e5;
}

/* Кнопка отображения (активна) */
.card-view {
  border-color: #000000;
}

/* Контейнер с карточками гостиниц */
.product-list {
  margin-bottom: 34px;
}

/* Назавание гостиницы в карточке */
.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  }

 /* Ссылка на подробное описание */ 
.hotel-card-link {
  text-decoration: none;
}

/* Зелёная кнопка в каталоге */
.button-favourites-done {
  background-color: #7DB54F;
}

/* Текст карточек каталога */
.hotel-card-text {
  line-height: 23px;
}

/* Рейтинг гостиницы */
.rating-text {
  color: inherit;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Контейнер "Загрузить ещё" */
.container-show-more {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 1056px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

/* Кнопка "Загрузить ещё" */
.button-show-more {
  width: 620px;
  height: 60px;
}

/* Контейнер с пагинацией */
.pagination {
  display: flex;
  width: 1056px;
  height: 55px;
  align-items: center;
  margin-bottom: 73px;
}

/* Список пагинации */
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Пункт списка пагинации (кроме последнего) */
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* Ссылка кнопки пагинации */
.pagination-link {
  display: flex;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
}

/* Активная кнопка пагинации */
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Подпись селектора количества карточек */
.hotels-number-label {
  margin-left: auto;
  margin-right: 51px;
}

/* Селект в разделе пагинации */
.pagination .select-control {
  width: 160px;
  margin: 0;
}

/* Секция c подпиской */
.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}

/* Секция с подпиской на главной */
.newsletter-section {
  width: 1200px;
  height: 411px;
  color: #ffffff;
  padding-top: 94px;
  background-color: #333333;
  background-image: url("../images/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

/* Секция с подпиской каталога */
.newsletter-inner {
  width: 800px;
  height: 241px;
  margin-bottom: 140px;
}

/* Заголовок подписки на главной */
.newsletter-section-title {
  color: #ffffff;
  margin-bottom: 29px;
}

/* Заголовок подписки каталога */
.inner-newsletter-section-title {
  margin-bottom: 46px;
}

/* Текст в секции с рассылкой */
.newsletter-description {
  width: 720px;
  line-height: 26px;
  margin-bottom: 46px;
}

.newsletter-form {
  display: flex;
}

/* Контейнер футера */
.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Социальные сети (футер) */
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 112px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

/* Пункт списка соцсетей */
.footer-social-item {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Ссылка соцсетей */
.social-link {
  margin: 0;
  padding: 0;
  display: block;
  min-width: 24px;
  background-color: #f1f1f1;
}

/* Контактный телефон (футер) */
.footer-contacts-phone {
  width: 720px;
  margin: 0;
  margin-right: 53px;
  padding: 0;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

/* Ссылка лого академии */
.academy-link {
  width: 115px;
  margin-left: auto;
}
