
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.box-shadow {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: -1;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки (общее) */
.button {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  border-style: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(104,162,202,1);
}

.button:active {
  color: rgba(255,255,255,0.3);
}

.button:focus {
  outline: rgba(117,98,87,1) solid 3px;
}

/* Маленькие кнопки */
/* "Хочу сюда", сортировка гостиниц, каталог */
.button-search-small,
.button-detail,
.button-favourites {
  font-size: 16px;
}

/* Кнопки коричневые "Хочу сюда!" "Подробнее" "Поиск гостиницы" */
.button-search,
.button-detail {
  background-color: #756257;
}

.button-search:hover,
.button-detail:hover {
  background-color: #615048;
}

.button-search:active,
.button-detail:active {
  color: rgba(255,255,255,0.3);
}

.button-search:focus,
.button-detail:focus {
  outline: #83B3D3 solid 3px;
}

/* Главный хедер */
.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: auto;
}

/* Навигация (хедер) */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.logo-navigation {
  position: absolute;
  line-height: 0%;
}

/* Левое меню */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 345px;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style-type: none;
}

/* Правое меню */
.navigation-purchase {
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
}

/* Элемент пункта меню */
/* Родитель ссылки */
.navigation-item {
  position: relative;
}

/* Ссылка пункта меню */
.navigation-link {
  display: block;
  padding: 20px 17px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover {
  color: rgba(117,98,87,1);
}

.navigation-link:active {
  color: rgba(117,98,87,0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

/* Ссылка пункта правого меню (иконки) */
.navigation-purchase .navigation-link {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 42px;
  min-height: 65px;
}

/* Элемент "Избранное" правого меню */
.navigation-purchase .navigation-item:nth-child(2) {
  position: relative;
}

/* Иконки навигации */
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: rgba(117,98,87,1);
}

.navigation-link:active .navigation-icon {
  fill: rgba(117,98,87,0.3);
  opacity
}

.navigation-link-favourites::after {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  justify-content: center;
  padding-top: 3px;
  content: "12";
  top: 15px;
  right: -2px;
}

.navigation-link-favourites:active::after {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: rgba(255,255,255,0.3);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  justify-content: center;
  padding-top: 3px;
  content: "12";
  top: 15px;
  right: -2px;
}

/* Кнопка "Хочу сюда!" */
.button-search-small {
  display: block;
  padding: 6px 34px 5px;
  margin: 14px 0 14px 20px;
}

/* Мэйн обеих страниц */
.main-index,
.main-inner {
  width: 1200px;
  margin: 0 auto;
  color: inherit;
  background-color: #ffffff;
}

/* Основной контент */
/* Для sticky-footer */
.main-container {
  flex-grow: 1;
}

/* Текст на страницах */
/* НЕ преимущества. НЕ карточки */
.section-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/* Фоновая картинка Welcome */
.welcome-background {
  width: 1200px;
  height: 485px;
  margin-bottom: 63px;
  background-color: #333333;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Дивайдер */
.welcome-divider {
  width: 1200px;
  height: 435px;
  padding-top: 50px;
  background-image: url("../images/divider.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Картинка Welcome... */
.welcome-picture {
  display: block;
  margin: 0 auto;
}

/* Заголовки секций (Н2) */
.section-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages {
  display: flex;
  flex-direction: column;
}

/* Заголовок секции Преимуществ */
.advantages-section-title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
}

/* Секция преимуществ вступление */
.advantages-intro {
  margin-bottom: 80px;
}

/* Список преимуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Пункт преимуществ */
.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

/* Контейнер первого пункта */
.advantages-item-container {
  display: flex;
}
.advantages-picture {
  height: 100%;
  object-fit: cover;
}

/* Подсписок */
.advices-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Преимущества контейнер с текстом */
.advantages-item-text,
.advices-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.advices-item {
  padding-top: 184px;
  background-repeat: no-repeat;
}

.advices-item-house {
  background-image: url("../images/icon-house.svg");
  background-position: center top 89px;
}

.advices-item-burger {
  background-image: url("../images/icon-food.svg");
  background-position: center top 90px;
}

.advices-item-gift {
  background-image: url("../images/icon-gift.svg");
  background-position: center top 85px;
}

/* Преимущества тёмный фон */
.item-background-dark {
  color: #ffffff;
  background-color: #83B3D3;
}

/* Преимущества самый светлый фон */
.item-background-light12 {
  color: #333333;
  background-color: rgba(131,179,211,0.12);
}

/* Преимущества светлый фон */
.item-background-light20 {
  color: #333333;
  background-color: rgba(131,179,211,0.2);
}

/* Преимущества заголовок */
.advantages-item-text .item-title {
  margin-top: 96px;
  margin-bottom: 30px;
}

/* Преимущества и Советы заголовок */
.item-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
}


/* Преимущества чёрный заголовок */
.advantages-item-title,
.advices-item-title {
  color: #000000;
}

/* Советы заголовок */
.advices-item-title {
  margin-bottom: 20px;
}

/* Преимущества номер */
.advantages-number {
  margin-bottom: 30px;
  text-align: center;
  max-width: 250px;
}

/* Преимущества описание (текст) */
.advantages-description,
.advices-description {
  margin: 0;
  padding: 0;
  max-width: 250px;
  text-align: center;
}

/* Преимущества тёмный фон описание (текст) */
.item-background-dark .advantages-description {
  max-width: 220px;
}

/* Секция "Заинтересовались?" */
.interested {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 30px;
  margin-bottom: 62px;
}

/* Секция "Заинтересовались?" заголовок */
.interested-section-title {
  margin-top: 60px;
  margin-bottom: 29px;
}

/* Секция "Заинтересовались?" описание (текст) */
.interested-description {
  width: 720px;
  line-height: 26px;
  margin-bottom: 56px;
}

/* Кнопка "Поиск гостиницы в Седоне" */
.button-search-big {
  width: 575px;
  padding-top: 20px;
  padding-bottom: 14px;
  border-radius: 10px;
}

/* Хедер каталога */
.inner-header {
  min-height: 408px;
  margin-bottom: 44px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 31px;
}

/* Контейнер контента каталога */
.inner-header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
}

/* Н1 страницы каталога */
.inner-header-title {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  font-size: 60px;
  line-height: 68px;
}

/* Хлебные крошки. Список */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* Хлебные крошки. Ссылка */
.breadcrumbs-link {
  display: block;
  box-sizing: border-box;
  min-height: 21px;
  min-width: 83px;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  align-self: bottom;
  margin: 0;
  margin-right: 16px;
}

/* Хлебные крошки. Спрятанный спан */
.breadcrumbs-link-hidden {
  position: relative;
  margin-left: -2px;
  padding: 0;
  min-width: 22px;
  min-height: 21px;
}

/* Иконка ДОМ хлебные крошки */
.breadcrumbs-house {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

/* Хлебные крошки. Состояния  */
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: #83B3D3 solid 3px;
  border-radius: 2px;
}

.breadcrumbs-item-element {
  position: relative;
}

.breadcrumbs-item-element::before {
  position: absolute;
  width: 5px;
  height: 8px;
  background-image: url("../images/breadcrumbs-nav.svg");
  content: "";
  left: -10px;
  top: 7px;
}

/* Общая форма фильтра */
.catalog-filter {
  display: flex;
}

/* Группа списка фильтра */
/* Общее для всех групп */
.catalog-filter-group {
  margin: 0;
  margin-left: 1px;
  padding: 0;
  width: 150px;
  border: none;
}

/* Название подраздела каталога */
.catalog-filter-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

/* Список фильтра */
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Элемент списка фильтра */
.catalog-filter-item {
  margin-bottom: 5px;
}

/* Фильтр инфраструктуры */
.catalog-filter-group-infrastructure {
  margin-right: 66px;
}

/* Обёртка чекбоксов и радиокнопок */
.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

/* Чекбоксы. Квадратики (стилизация) */
.control-mark {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

/* Отмеченные чекбоксы (галочки) */
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-color: transparent;
  content: "";
  background-image: url("../images/checkbox-checked.svg");
}

/* Чекбоксы. Состояния */
.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control:focus .control-mark{
  opacity: 0.6;
  outline:#83B3D3 3px solid;
}

/* Фильтр типа жилья */
.catalog-filter-group-type {
  margin-right: 162px;
}

/* Радиокнопки (кружочки). Стилизация */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

/* Отмеченные радиокнопки (точки) */
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

/* Радиокнопки. Состояния */
.control:hover .control-mark-radio,
.control:active .control-mark-radio {
  opacity: 1;
}

.control-input:focus .control-mark {
  opacity: 1;
  outline:#83B3D3 3px solid;
}

/* Range-слайдер. Блок */
.catalog-filter-group-range {
  margin: 0;
  padding: 0;
}

/* Range-слайдер. Контейнер */
.range-wrapper-inputs {
  display: flex;
  box-sizing: border-box;
  width: 287px;
  margin-top: 8px;
  margin-bottom: 29px;
}

/* Range-слайдер. Ячейка */
.catalog-filter-label {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 145px;
  min-height: 48px;
  line-height: 23px;
  text-align: end;
  color: rgba(255,255,255,0.3);
  padding: 0;
  align-items: center;
  border: 2px solid #ffffff;
  word-break: break-all;
}

/* Range-слайдер. Левая ячейка */
.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
  padding-right: 13px;
}

/* Range-слайдер. Правая ячейка */
.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  padding-right: 14px;
}

.catalog-filter-label:hover {
  border-color:rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:active {
  background-color: rgba(117, 98, 87, 1);
}

.catalog-filter-label:focus {
  outline:#83B3D3 3px solid;
  box-shadow:
    3px 3px 0 #83B3D3 inset,
    -3px -3px 0 #83B3D3 inset;
}

/* Range-слайдер. Цифры */
.range-input {
  width: 72px;
  padding: 0;
  margin-left: 16px;
  margin-top: 4px;
  margin-right: auto;
  font: inherit;
  color: #ffffff;
  line-height: 23px;
  text-align: start;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Подписи к цифрам */
.range-name {
  margin-right: 15px;
}

/* Range-слайдер. Шкала */
.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Range-слайдер. Диапазон */
.range-bar {
  position: absolute;
  height: 4px;
  width: 227px;
  background-color: #ffffff;
}

/* Range-слайдер. Ползунки */
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

/* Range-слайдер. Ползунки (состояния) */
.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0,0,0,0.4);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

/* Range-слайдер. Ползунок min */
.toggle-min {
  top: -8px;
  left: 0px;
}

/* Range-слайдер. Ползунок max */
.toggle-max {
  top: -8px;
  right: -10px;
}

/* Применить и Сбросить */
.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 60px;
}

/* Кнопка фильтра "Применить" */
.catalog-filter-buttons .button {
  box-sizing: border-box;
  width: 160px;
  min-height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
}

/* Кнопка фильтра "Применить". Состояния */
.catalog-filter-buttons .button:focus {
  outline: #ffffff solid 3px;
}

/* Кнопка сброса в сортировке */
.button-reset {
  color: #ffffff;
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 94px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  cursor: pointer;
}

/* Кнопка сброса. Состояния */
.button-reset:hover {
  color: rgba(225,225,225,0.6);
}

.button-reset:active {
  color: rgba(225,225,225,0.3);
}

.button-reset:focus {
  outline: #83B3D3 solid 3px;
  border-radius: 1px;
}

/* Секция с карточками каталога */
.catalog-hotels {
  position: relative;
  width: 1056px;
  margin: 0 auto;
}

/* Подпись над каталогом + кнопки отображения */
.hotels-found-container {
  display: flex;
  min-height: 48px;
  align-items: center;
  margin-bottom: 53px;
}

/* Найдено гостиниц: 38 */
.hotels-found {
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-right: 20px;
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Контейнер селекта */
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: 81px;
}

/* Селект */
.select-control {
  width: 100%;
  height: 48px;
  padding: 9px 17px;
  padding-right: 48px;
  font: inherit;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../images/select-dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

/* Селект количество гостиниц */
.select-control-number {
  padding-left: 15px;
}

.select-control:hover {
  border-color: #83B3D3;
}

.select-control:active {
  border-color: #a9a9a9;
  opacity: 0.3;
}

.select-control:focus {
  border-color: #83B3D3;
  color: #000000;
}

/* Контейнер кнопок отображения */
.button-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-width: 160px;
  max-width: 320px;
  height: 48px;
  margin-right: -8px;
}

/* Кнопки отображения */
.button-view {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.button-view:hover {
  border-color: #83B3D3;
}

.button-view:active {
  border-color: #000000;
}

.button-view:focus {
  border-color: #83B3D3;
}

/* Кнопка отображения (активна) */
.card-view {
  border-color: #000000;
}

/* Иконка кнопок отображения */
.button-view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

/* Контейнер с карточками гостиниц */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
  margin-bottom: 34px;
}

/* Карточка гостиницы */
.hotel-card {
  display: grid;
  grid-template-rows: 4px minmax(206px, auto) auto auto minmax(37px, auto) minmax(37px, auto) 4px;
  grid-template-columns: 20px 159px 141px 20px;
  row-gap: 16px;
}

/* Ссылка картинки в карточке */
.hotel-card-image-link {
  grid-column: 2/-2;
  grid-row: 2;
  margin: 0;
  padding: 0;
  height: 206px;
}

.hotel-card-image-link:hover {
  opacity: 0.6;
}

.hotel-card-image-link:active {
  opacity: 0.3;
}

.hotel-card-image-link:focus {
  outline: #83B3D3 solid 3px;
}

.hotel-card-image {
  object-fit: cover;
}

/* Ссылка названия в карточке */ 
.hotel-card-title-link {
  grid-column: 2/-2;
  grid-row: 3;
  text-decoration: none;
}

.hotel-card-title-link:focus {
  outline: #000000 2px solid;
}

/* Назавание гостиницы в карточке */
.hotel-card-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

/* Текст карточек каталога */
.hotel-card-text,
.hotel-card-price {
  margin: 0;
  padding: 0;
  line-height: 23px;
}

/* Тип гостиницы */
.hotel-card-text {
  grid-column: 2;
  grid-row: 4;
  align-self: end;
  padding-right: 15px;
}

/* Цена гостиницы */
.hotel-card-price {
  grid-column: 3;
  grid-row: 4;
  align-self: end;
}

/* Кнопка "Подробнее" */
.button-detail {
  grid-column: 2;
  grid-row: 5;
  box-sizing: border-box;
  line-height: 21px;
  align-self: center;
  width: 133px;
  padding: 8px;
}

/* Кнопки "Избранное", "В избранном" */
.button-favourites,
.button-favourites-done {
  grid-column: 3;
  grid-row: 5;
  box-sizing: border-box;
  padding: 7px 5px 4px 5px;
}

/* Зелёная кнопка в каталоге */
.button-favourites-done {
  background-color: #7DB54F;
}

.button-favourites-done:hover {
  background-color: #6C9E42;
}

/* Категория гостиницы (звёзды) */
  .star-category {
    grid-column: 2;
    grid-row: 6;
    align-self: center;
  }

/* Рейтинг гостиницы */
.rating-text-container {
  display: flex;
  grid-column: 3;
  grid-row: 6;
  justify-self: end;
  min-height: 37px;
  width: 160px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
}
.rating-text {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  align-self: center;
  margin: auto;
}

/* Контейнер "Загрузить ещё" */
.container-show-more {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1056px;
  min-height: 120px;
  justify-content: center;
  align-items: center;
}

.button-show-more::before,
.button-show-more::after {
  content:'';
  position: absolute;
  width: 1056px;
  border-top: 1px solid #e6e6e6;
}

.button-show-more::before {
  left: 0;
  top: 0;
}

.button-show-more::after {
  left: 0;
  bottom: 0;
}

/* Кнопка "Загрузить ещё" */
.button-show-more {
  width: 620px;
  height: 60px;
  border-radius: 10px;
}

.index-columns:first-of-type::after {
  left: 470px;
}

.index-columns:last-of-type::after {
  left: 430px;
}

/* Контейнер с пагинацией */
.pagination {
  display: flex;
  width: 1056px;
  min-height: 55px;
  align-items: flex-start;
  margin-bottom: 67px;
  padding-top: 30px;
}

/* Список пагинации */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 646px;
}

/* Пункт списка пагинации (кроме последнего) */
.pagination-item {
  margin-right: 8px;
}

/* Ссылка кнопки пагинации */
.pagination-link {
  display: flex;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
 }

/* Активная кнопка пагинации */
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Подпись селектора количества карточек */
.hotels-number-label {
  margin-top: 15px;
  margin-left: auto;
  margin-right: 51px;
  padding-left: 10px;
  padding-bottom: 7px;
}

/* Селект в разделе пагинации */
.pagination .select-control {
  width: 160px;
  margin: 0;
  margin-top: 2px;  

}

/* Секция c подпиской */
.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}

/* Секция с подпиской на главной */
.newsletter-section {
  width: 1200px;
  min-height: 411px;
  padding: 30px;
  color: #ffffff;
  padding-top: 94px;
  background-color: #333333;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Контейнер секции подписки каталога */
/* Для белого фона */
.section-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* Секция с подпиской каталога */
.newsletter-inner {
  width: 1200px;
  min-height: 241px;
  margin-bottom: 140px;
}

/* Заголовок подписки на главной */
.newsletter-section-title {
  color: #ffffff;
  margin-bottom: 29px;
}

/* Заголовок подписки каталога */
.inner-newsletter-section-title {
  margin-bottom: 46px;
}

/* Текст в секции с рассылкой */
.newsletter-description {
  width: 720px;
  line-height: 26px;
  margin-bottom: 46px;
}

/* Форма подписки */
.newsletter-form {
  display: grid;
  padding: 0;
  grid-template-columns: 600px 200px;
  grid-template-rows: minmax(60px, auto);
}

/* Текстовое поле формы */
.newsletter-field {
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: inherit;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
}

.newsletter-field:hover {
  background-color: #E6E6E6;
}

.newsletter-field:focus {
  outline: rgba(131,179,211,1) solid 3px;
}

.newsletter-field:optional:invalid {
  border: 2px solid rgba(255,87,87,1);
}

/* Кнопка формы */
.newsletter-button {
  border-radius: 0 10px 10px 0;
  padding: 17px;
}

.page-footer {
  position: relative;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.page-footer-index::before {
  position: absolute;
  content: "";
  width: 1200px;
  height: 0;
  border-top: 1px solid #E6E6E6;
  top: 0;
  left: 0;
}

/* Контейнер футера */
.page-footer-container {
  display: flex;
  width: 1076px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 20px;
}

/* Социальные сети (футер) */
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  margin-left: 0px;
  margin-right: 205px;
  padding: 0;
  list-style-type: none;
}

/* Пункт списка соцсетей */
.footer-social-item {
  display: flex;
  margin: 0;
  margin-right: 4px;
  padding: 0;
  align-items: center;
}

/* Ссылка соцсетей */
.social-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: 0;
  margin-bottom: 8px;
  margin-left: -2px;
  padding: 0;
  height: 40px;
  min-width: 42px;
  border-radius: 10px;
}

.social-link:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104,162,202,0.3);
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

/* Контактный телефон (футер) */
.footer-contacts-phone {
  box-sizing: border-box;
  width: 365px;
  min-=height: 64px;
  margin: 0;
  padding: 14px 15px 18px 15px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:active {
  color: rgba(117,98,87,0.3);
}

.footer-contacts-phone:focus {
  color: #756257;
  outline: #83B3D3 3px solid;
  border-radius: 7px;
}

/* Ссылка лого академии */
.academy-link {
  position: relative;
  width: 154px;
  margin-right: -10px;
  margin-left: auto;
}

.academy-link:hover .logo-academy {
  fill: #756257;
}

.academy-link:active .logo-academy {
  fill: rgba(117,98,87,0.3);
}

.academy-link:focus {
  fill: #756257;
  outline: #83B3D3 3px solid;
  border-radius: 7px;
}

.logo-academy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 0;
  margin: auto;
  fill: #000000;
}

/* Модальное окно. Подложка */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

/* Модальное окно. Блок */
.modal {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  font-size: "PT Sans", sans-serif;
  width: 715px;
  max-height: 561px;
  padding: 70px;
  padding-left: 68px;
  padding-top: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

/* Модальное окно. Кнопка закрытия */
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
} 

/* Модальное окно. Кнопка закрытия. Состояния */
.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active .modal-close-icon{
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: #83B3D3 3px solid;
}

/* Модальное окно. Иконка закрытия */
.modal-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

/* Модальное окно. Заголовок */
.modal-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: start;
  vertical-align: top;
}

/* Форма. Обёртка поля */
.guest-form .field-group {
  margin: 0;
  margin-left: 2px;
  margin-bottom: 40px;
}

/* Обёртка поля */
.field-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
}

/* Поле ввода (все поля) */
.guest-field {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #f2f2f2;
  height: 50px;
  vertical-align: middle;
  padding-left: 19px;
}


/* Подписи к полям */
.guest-form-date,
.guest-form-number {
  vertical-align: middle;
  line-height: 40px;
}

/* Поля даты */
.guest-form-date-field {
  width: 420px;
}

/* Поля даты. Состояния */
.guest-form-date-field:hover {
  background-color: #e6e6e6;
}

.guest-form-date-field:active {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.guest-form-date-field:focus {
  background-color: #e6e6e6;
  outline: #83B3D3 3px solid;
}

.validation {
  position: absolute;
  left: 155px;
  top: 44px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.guest-form-date-field:invalid + .invalid-text::after,
.guest-form-date-field + .invalid-text::after {
  height: 40px;
  width: 420px;
  content: "Мы не можем отправить вас в прошлое.";
  color: rgba(255, 87, 87, 1);
}

.guest-form-date-field:valid + .valid-text::after,
.guest-form-date-field + .valid-text::after {
  height: 40px;
  width: 420px;
  content: "На эти даты есть свободные номера. Пока есть.";
  color: rgba(51, 51, 51, 1);
}

/* Поля даты. Иконка календарь */
.guest-form-icon {
  position: absolute;
  right: 18px;
  cursor: pointer;
}

/* Контейнер полей с количеством */
.field-number-container {
  display: flex;
  justify-content: space-between;
}

/* Обёртка поля с количеством */
.field-number-container .field-group {
  display: flex;
}

/* Обёртка поля с количеством. Взрослые */
.field-number-container .field-group:first-child {
  width: 288px;
}

/* Обёртка поля с количеством. Дети */
.field-number-container .field-group:last-child {
  width: 232px;
}

/* Поле ввода. Количество */
.guest-form-number-field {
  width: 133px;
  padding: 0;
  text-align: center;
}

/* Подпись к полю ввода. Дети */
.field-group:last-child .guest-form-number {
  position: relative;
  width: 90px;
}

.form-label-icon {
  position: relative;
  flex-wrap: wrap;
}

/* Иконка с информацией */
.tooltip-toggle {
  box-sizing: border-box;
  width: 25;
  height: 25px;
  content: "i";
  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
  padding: 5px 11px;
  cursor: pointer;
}

.tooltip-toggle:hover {
  background-color: #68A2CA;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  left: 53px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  position: absolute;
  top: 40px;
  right: -115px;
  display: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/modal-tooltip-triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.guest-form-number-field::-webkit-outer-spin-button,
.guest-form-number-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Кнопки изменения количества */
.change-number {
  position: absolute;
  width: 19px;
  height: 19px;
  padding: 0;
  border: none;
  border-radius: 1px;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.change-number:hover {
  opacity: 1;
}

.change-number:active {
  opacity: 0.2;
}

.change-number:focus {
  opacity: 1;
  outline: #83B3D3 3px solid;
}

/* Кнопка ПЛЮС */
.number-plus {
  right: 16px;
  background-image: url("../images/modal-plus.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

/* Кнопка МИНУС */
.number-minus {
  right: 99px;
  background-image: url("../images/modal-minus.svg");
  background-position: 3px 9px;
  background-repeat: no-repeat;
}

/* Кнопка НАЙТИ */
.button-search-hotel {
  height: 60px;
  width: 575px;
  border-radius: 10px;
  margin-left: 2px;
}
